
<style type="text/css">
	#submit_row { text-align: left }
</style>

<h2>Update Password</h2>
<p>You can update your password through this page. But we need to authenticate your old password first.</p>

<form method='POST' action='{% url forum.views.forum_password_page %}'>
	{% csrf_token %}
	<table>
		<tr><td>Old Password</td><td><input type='password' value='' name='old_password'></td></tr>
		<tr><td>New Password</td><td><input value='' name='new_password1'></td></tr>
		<tr><td>Again</td><td><input value='' name='new_password2'></td></tr>
		<tr><td rowspan=2>&nbsp;</td></tr>
		<tr id='submit_row'><td rowspan=2><input type='submit' value='Submit'></td></tr>
	</table>
</form>